#######################################
# THIS FILE SHOULD BE RENAMED TO .env #
#######################################

# Discord Token
DISCORD_TOKEN='YOUR_DISCORD_TOKEN'
DISCORD_DEV_TOKEN='YOUR_DISCORD_DEV_TOKEN'

# YouTube API Key
YOUTUBE_API_KEY='YOUR_YOUTUBE_API_KEY'

# Twitch
TWITCH_CLIENT_ID='YOUR_TWITCH_CLIENT_ID'
TWITCH_CLIENT_SECRET='YOUR_TWITCH_CLIENT_SECRET'

# Configuration
CONFIG_UPDATE_INTERVAL_YOUTUBE='10'
CONFIG_UPDATE_INTERVAL_TWITCH='2'
CONFIG_DISCORD_LOGS_CHANNEL='YOUR_DISCORD_LOGS_CHANNEL'
CONFIG_DISCORD_WAIT_FOR_GUILD_CACHE_TIME='YOUR_TIME_IN_SECONDS'

# Postgres URLs
POSTGRES_URL='postgresql://user:password@server:port/database'
POSTGRES_DEV_URL='postgresql://user:password@server:port/database'
