#######################################
# THIS FILE SHOULD BE RENAMED TO .env #
#######################################

# Discord Token
DISCORD_TOKEN='YOUR_DISCORD_TOKEN'
DISCORD_DEV_TOKEN='YOUR_DISCORD_DEV_TOKEN'

# YouTube API Key
YOUTUBE_API_KEY='YOUR_YOUTUBE_API_KEY'

# Twitch
TWITCH_CLIENT_ID='YOUR_TWITCH_CLIENT_ID'
TWITCH_CLIENT_SECRET='YOUR_TWITCH_CLIENT_SECRET'

# Configuration
CONFIG_UPDATE_INTERVAL_YOUTUBE='10'
CONFIG_UPDATE_INTERVAL_TWITCH='2'
CONFIG_DISCORD_LOGS_CHANNEL='YOUR_DISCORD_LOGS_CHANNEL'

# Backups
BACKUP_ENABLED=true
BACKUP_USING_SSH=false # It will still backup locally if set to true

# Note: The following sections are only required if BACKUP_USING_SSH is set to true
BACKUP_SSH_HOST='YOUR_SSH_HOST'
BACKUP_SSH_PORT='22' # Default SSH port is 22
BACKUP_SSH_USER='YOUR_SSH_USER'
BACKUP_SSH_PASSWORD='YOUR_SSH_PASSWORD' # You must use a password as private keys are not supported yet
BACKUP_SSH_PATH='YOUR_SSH_PATH' # The path where the backups will be stored
