#######################################
# THIS FILE SHOULD BE RENAMED TO .env #
#######################################

# Discord Token
DISCORD_TOKEN='YOUR_DISCORD_TOKEN'
DISCORD_DEV_TOKEN='YOUR_DISCORD_DEV_TOKEN'

# YouTube API Key
YOUTUBE_API_KEY='YOUR_YOUTUBE_API_KEY'

# Twitch
TWITCH_CLIENT_ID='YOUR_TWITCH_CLIENT_ID'
TWITCH_CLIENT_SECRET='YOUR_TWITCH_CLIENT_SECRET'

# Configuration
CONFIG_UPDATE_INTERVAL_YOUTUBE='10'
CONFIG_UPDATE_INTERVAL_TWITCH='2'
CONFIG_DISCORD_LOGS_CHANNEL='YOUR_DISCORD_LOGS_CHANNEL'

## The following values are recommened to be at the default values.
## If you want to change them, please make sure you know what you are doing.
## Times are in seconds.
CONFIG_DISCORD_WAIT_FOR_GUILD_CACHE_TIME='10'
CONFIG_DISCORD_COLLECTOR_TIMEOUT='60'
CONFIG_DISCORD_COMPONENTS_PAGE_SIZE='10' # The number of channels to display per page in the components (ex. https://github.com/GalvinPython/feedr/pull/154)

# Postgres URLs
POSTGRES_URL='postgresql://user:password@server:port/database'
POSTGRES_DEV_URL='postgresql://user:password@server:port/database'
